



.login-form{
    background-color: rgba(229,172,38,0.96);
    margin-left: 10%;
    width: 30%;
}




.registration-form{
    margin-left: 10%;
    width: 30%;
    background-color: rgba(229,172,38,0.96)  ;
}
